p {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  margin-left: 400px;
  margin-right: 380px;
  text-align: justify;
}

h2 {
  font-family: "Verdana", sans-serif;
  color: grey;
}

h1 {
  font-family: "Verdana", sans-serif;
  color: grey
}
